body, html {
    height: 100vh;
}
body{
    margin: 0; 
    display: grid;
    background-image: url(images/office-2.png);
    grid-template-columns: auto 40% 40% ;
    grid-template-rows: 70% 70% 25% ;
    grid-template-areas: 
        "sidebar section1 section2"
        "sidebar main main"
        "sidebar footer footer";
       
}

aside {
    grid-area: sidebar;
    font-family: 'Cormorant Upright', serif;
    color: rgb(75, 73, 73);
    border: 3px gray groove;
    border-radius: 20px;
}
h1{
    font-size: x-large;
}
h2{
    font-size: large;
    margin-top: 20px;
}
h3{
    font-size: x-large;
}
img{
    width:50%;
    border-radius: 200px 200px 200px 100px;
    float: right;
}

.langues {

    grid-area: section1;
    color: rgb(49, 48, 49);
    font-family: 'Cormorant Upright', serif;
    font-size:x-large;
    margin-left: 15px;
    margin-top: 20px;
    padding-top: 20px;
}
.progress-bar{
    border:1px solid gray;
    color: rgb(49, 48, 49);
}
.version{
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;
}
section:nth-of-type(1) {
    grid-area: section1;
    font-family: 'Cormorant Upright', serif;
    color: rgb(75, 73, 73);
    font-size:x-large;
    text-align: center;
    

}
.competence li{
    list-style-type: none; 
}
section:nth-of-type(2) {
    padding: top 20px;
    grid-area: section2;
    font-family: 'Cormorant Upright', serif;
    color: rgb(75, 73, 73);
    font-size:x-large;
    text-align: center;
    list-style-type: none; 
    line-height: 2em;
}
.formation li{
    list-style-type: none; 
}
main {
    grid-area: main;
    font-family: 'Cormorant Upright', serif;
    color: rgb(49, 48, 49);
    font-size:x-large;
    text-align: center;
    padding-top:0;
    list-style-type: none; 
}
.experiencepro li{
    list-style-type: none; 
}
footer {
    grid-area: footer;
    font-family: 'Cormorant Upright', serif;
    color: rgb(49, 48, 49);
    text-align: center;
    border: 3px gray groove;
    border-radius: 20px;
}
a{
    font-family: 'Cormorant Upright', serif;
    font-size: x-large;
    color: rgb(49, 48, 49);
    text-decoration-style: none;
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 870px) { 
    
    
    body {
        
        display:block;
        
    }
    h2{
        font-size: x-large;
        margin-top: 20px;
    }

    img{
        float: right;
        width: 35%;
        height: 250px;
    }
    section:nth-of-type(1) {
        margin-top: 20px;
        padding-bottom: 20px;
        
    
    }
    
   
    section:nth-of-type(2) {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    
    
    main {
        margin-top: 20px;
        line-height: 2em; 
    }
}